body#home{
    background: linear-gradient(#EFC3E6,gray);
    
}

#containerHome {
    /*max-width: 1000px;*/
    margin: 50px auto 0 auto;
}

#headHome {
    height: 10%;  
}


#logo{
    background: url( ../img/zenskateretana.png) center no-repeat;
    background-size: cover;
    width: 14%;
    height: 120px;
  
}

nav{
    z-index: 2;
    /*display: flex;*/
}

#navigacija{
    background-color: gray;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EFC3E6;
}

li {
    float: left;
}



li a {
    display: block;
    color:#EFC3E6;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    
}




#informacije{
    width: 100%;
    /*height: 5%;*/
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    margin-top: 10%;
    position: relative;
    
}


#osnovno2{
    width: 100%;
    float: left;
    /*margin-top: 170px;*/
    background: radial-gradient(#d9d9d9,#fff);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    opacity: 0.8; 
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: black;
    z-index: auto;
    /*z-index: 0;*/
}



div#dugmad{
   margin-top: 30%;
}


#cenovnik{
    margin-right: 60%;
    float: left;
}


#cenovnik:hover
{
    cursor: pointer;
}

.clearfix{
    /*content: "";*/
    display: table;
    /*clear: both;*/
    width: 60%;
}

#forma, #cenovnik {
    height: 40px;
    opacity: 0.6;
    color: white;
    border-radius: 10px;
    margin-top: 10%;
    
}

#forma{
    background:#870058;
    width: 20%;
    color:white;
}

#forma:hover {
    cursor: pointer;
}

#cenovnik{
    background:#870058;
    width: 20%;
    color:white;
}


body#kontakt{
    background:linear-gradient(white,#EFC3E6);
    width: 100%;
    
}

#cena{
    display: none;
    position:absolute;
    margin-top: -750px;
    margin-left: 0px;
    background: url( ../img/cenovnik.jpg) center no-repeat;
    background-size: contain;
    height: 700px;
    width: 950px;
    border-radius: 30px;
   
}

#nalog #konforma{
    margin-left: 16px;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 45px;
    margin-left: 220px;
    background-color: gray;
    width: 22%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

.dropdown-content a {
    color:#EFC3E6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content {
    display: block;
}




/*Forma*/

#konForma {
    width:400px;
    margin-top: 30px;
    padding:10px;
    background:#ce83b4;
    float:left;
    border-radius: 10px;
    color:darkslategrey;

    
    
}
#konForma1 {
    display: none;
    position: absolute;
    margin-left: 395px;
    margin-top: -600px;;
    width:500px;
    padding:50px;
    background:#ce83b4;
    border: solid 4px lightblue;
    border-radius: 60px;
    opacity: 1;
    z-index: 4;  
    color:darkslategray;  
}

legend{
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 20px; 
}
label  {
    font-family: 'Bitter', serif;
    font-weight: bold;
}
input[type="text"], input[type="email"],input[type="number"]{
    width:340px;
    border-radius: 5px;
}
input[type="submit"],input[type="reset"]{
    border-radius: 5px;
    font-family: Arial, sans-serif;
    padding: 4px;
    margin-top: 4px;
    background-color: #d9d9d9;
}
input[type="submit"]:hover {
    background: #870058;     
    cursor: pointer;
    font-weight: bold;
}
input[type="reset"]:hover {
    background:#870058;
    cursor: pointer;
    font-weight: bold;
}
#kontInfo{
    font-family: 'Bowlby One SC', cursive;
    width:40%;
    float:right;
    margin-top:30px;
    padding: 5px;
    text-align: center;
    color:#870058;
    
}
#info1{
    font-family: 'Bitter', serif;
    padding:5px;
    color:#870058;
}
h2#hkont{
    text-decoration: underline;
    color:darkslategrey;
    
}
span#e1{
    color:darkslategrey;
    text-decoration: underline;
}
span#e1:hover{
    color:#000080;
    cursor: pointer;
}
fieldset{
    border: solid 2px black;
    padding: 10px;
    
}
footer{
    background:rgb(194, 167, 189);
    color:#fff;
    margin-top: 5%;
    padding:30px 20px 20px 20px;
    
}

footer p{
    margin-top: 0%;
    float: none;
    color: white;
    text-align: center;
}




/*Usluge*/

#leva {
    width:30%;
    float:left;
    margin-top: 20px;
    padding:10px;
}

#desna {
    width:60%;
    height: 100%;
    float:right;
    margin-top:20px;
    padding:10px;
}

#usluge{
    width:100%;
    height: 150%;
    /*position: relative;*/
    /*height:300px */
}

h1.naslovi {
    text-align: center;
    font-family: 'Anton', serif;
    font-size: 40px;
    font-style: italic;
    color: #EFC3E6;
}
h2.podnaslovi{
    text-align: center;
}

div#leva  h3{
    text-decoration: none;
    color: #EFC3E6;
    
}

div#leva  a{
    text-decoration: none;
    color:#EFC3E6;
    
}

div#leva a:active {
    color:#EFC3E6;
    font-size: 30px;
}

.pro{
    font-family: 'Proza Libre', sans-serif;
    color:gray;
}

h3.proNa {
   font-size: 30px;
    text-decoration:underline;
    font-style: oblique;
}

#opis{
    margin-top: 90px; 
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color:darkslategray;
    
}

body#gal{
    background:linear-gradient(white,pink);
}

#popust{
    color:grey;
    font-family: "Orbitron", sans-serif;
}

body#Usluge{

    background: white;
    width: 100%;
    height: 100%;
    
}
